<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <meta name="description" content="{{ config.description }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{{ get_url(path="img/brand/fv.png") }}">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&family=Manrope&family=IBM+Plex+Sans&family=Funnel+Display&family=Syne+Mono&display=swap" rel="stylesheet">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ get_url(path="styles/styles.css") | safe }}" />
</head>
<body class="min-h-40">
    <ul class="flex flex-wrap py-3 text-cyan-800 justify-center backdrop-blur-lg shadow-lg">
        <p class="font-light px-5">
            This is an Open-Source initiative by
            <a href="https://samirparhi.com/" class="underline">
                 samirparhi-dev
            </a>

        </p>
    </ul>
    <header class="mx-1 min-w-3.5 bg-gradient-to-r from-fuchsia-50 to-rose-50 bg-opacity-10 rounded-lg border-2 border-violet-500 backdrop-blur-lg shadow-lg relative">
        </div>
        <div class="p-4 container flex justify-between flex-wrap items-center">
            <!-- Logo on the left -->
            <a href="/" class="flex items-center px-5">
                {% set mdata = get_image_metadata(path="img/brand/s9lab-logo-new.png") %}
                {% set w = (mdata.width / 2) | int %}
                {% set h = (mdata.height / 2) | int %}
                {% set image = resize_image(path="img/brand/s9lab-logo-new.png", width=w, height=h, op="fit_width") %}
                <img src="{{ image.url }}" alt="Logo" srcset="/{{"img/brand/skyy-lo-new.png" }} 2x"/>
                <!-- <img src="{{ image.url }}" srcset="/{{"img/brand/skyy-lo-new.png"}} 2x"/> -->
            </a>
    
            <!-- Menu on the right -->
            <nav>
                <ul class="flex space-x-4 py-2 px-1 font-extralight font-mono text-fuchsia-800 md:text-2xl lg:text-xl text-sm">
                    {% for item in config.extra.website_header_menu %}
                        <li class="hover:text-violet-900">
                            <a href="{{ item.url }}">{{ item.menu }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </header>
    
    {% block body %}
    {% endblock %}
    
    <footer class="bg-purple-800 text-white h-full w-full backdrop-blur-md rounded-lg border-2 border-white-500">
        <div class="py-2">
        </div>
        <ul class="list-none flex flex-wrap justify-evenly space-x-2 py-2 rounded-xl">
            {% for item in config.extra.social_handle %}
            <li class="text-xl flex-wrap justify-evenly hover:underline flex rounded-lg border-fuchsia-900">
                <a href="{{ item.url }}" class="text-white hover:text-indigo-300">{{ item.social_handle }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="flex py-5 justify-center text-xl">
            <p>© {{ config.title }} {{ config.extra.current_year }}</p>
        </div>
        <div class="flex py-5 justify-center text-xl">
            <p>Coded 💙 by samirparhi-dev</p>
        </div>
    </footer>
    
</body>
</html>
